bin/
obj/
*.pdb
_ReSharper*
*.exe
*.exe.*
*.user
*.suo
/Output
/Release
/Release64
Vixen 3*
Vixen.sdf
Vixen.opensdf
/Modules/Analysis/QMLibrary/Debug
/Modules/Analysis/QMLibrary/x64/Debug
/x64/Debug
